@import "tailwindcss";
html.dark body {
  background-color: rgb(30, 43, 62);
  color: white;
}
html.dark .darkTopNav {
  background-color: rgb(12, 10, 36);
  color: white;
}
html.dark .darkDarkTogelBtn {
  /* background-color: rgb(12, 10, 36) ; */
  color: white;
}
.darkDarkTogelBtn {
  /* background-color: rgb(12, 10, 36) ; */
  color: rgb(8, 8, 8);
}
.darkTopNav {
  background-color: rgb(237, 239, 240);
  color: black;
}

.darkSubSideNav {
  background-color: rgb(237, 239, 240);
  color: black;
}
html.dark .darkSubSideNav {
  background-color: rgb(55, 81, 100);
  color: black;
}
html.dark .darkExtraPage {
  background-color: rgb(12, 10, 36);
  color: white;
}
.chatSubNav {
  background: #ece9e9;
  border: 1px solid white;
}
html.dark .chatSubNav {
  background: #130c28;
  border: 1px solid rgb(0, 0, 0);
}
/* for style and scroll of the tetarea field  */

/* Disable resizing of the textarea */
.custom-textarea {
  resize: none; /* Disable manual resizing */
  overflow-y: auto; /* Ensure scrollbar appears only when necessary */
  max-height: 40px; /* Set a minimum height for the textarea */
  line-height: 20px;
  height: 70%;
}

/* Slim scrollbar styles */
.custom-textarea::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
}

.custom-textarea::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px;
}

.custom-textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover state color */
}

.custom-textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.c * {
  border: 1px solid rgb(255, 250, 250);
}
.a {
  border: 1px solid red;
  padding: 2px;
  margin: 2px;
}
.b {
  border: 1px solid yellow;
}
.d {
  border: 1px solid green;
}

.shadowBox {
  -webkit-box-shadow: 9px -4px 41px 7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px -4px 41px 7px rgba(0, 0, 0, 0.58);
  box-shadow: 9px -4px 41px 7px rgba(0, 0, 0, 0.58);
}

.cardBoxText{
  color: black;
}
html.dark .cardBoxText{
  color: rgb(255, 255, 255);
}

@keyframes bottomToUp {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}

.editProfileVal{
  /* transition: all 0.5s; */
  animation: bottomToUp 0.25s ease-in-out 1;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.addNewContect{
  animation: bottomToUp 0.25s ease-in-out 1;
}

