@import "tailwindcss";
html.dark body {
  background-color: rgb(30, 43, 62);
  color: white;
}
html.dark .darkTopNav {
  background-color: rgb(12, 10, 36) ;
  color: white;
}
html.dark .darkDarkTogelBtn {
  /* background-color: rgb(12, 10, 36) ; */
  color: white;
}
.darkDarkTogelBtn {
  /* background-color: rgb(12, 10, 36) ; */
  color: rgb(8, 8, 8);
}
.darkTopNav{
  background-color: rgb(237, 239, 240);
  color: black;
}
html.dark .darkExtraPage {
  background-color: rgb(12, 10, 36) ;
  color: white;
}
.chatSubNav{
  background: #ece9e9;
  border: 1px solid white;
}
html.dark .chatSubNav{
  background: #130c28;
  border: 1px solid rgb(0, 0, 0);
}


.c *{
  border: 1px solid rgb(255, 250, 250);
}